<div class="city_box">
  <!-- city is pulled from the component but stateName is being pulled from the store. -->
 <div class="city_header">{{ city }} ,  {{ (stuff | async ).stateName }} </div>
 <ul>
   <li *ngFor="let gem of (stuff | async ).gemCollection; let i= index">
     <input value={{gem}} id="gem{{i}}">  <button class="eb" (click)="editGem(i)">edit</button> | <button class="db" (click)="deleteGem(i)">delete</button>   

   </li>
 </ul>

 <div>
   <button (click)="addGem()">add new</button>
   <input type="text" #newGem>
 </div>



</div>
