/* You can add global styles to this file, and also import other style files */
.city_box {
    width: 400px;
    height: 200px;
    float: left;
    border: 1px solid purple;
    border-radius: 4px;
    margin-right: 10px;
    button {
        background-color: green;
        color:white;
        border-radius: 3px;
    }
    button.db{
        background-color: red;
    }
    button.eb{
        background-color: lightblue;
    }
    .city_header{
        color: purple;
    }
}

section {
    width: 400px;
    padding: 5px;

}

